* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(
  135deg,
  #4facfe 0%,
  #00f2fe 100%
    );
    
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: none;
  background: #ebfffc;
  color: #555;
  padding: 15px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.search button:hover {
  transform: scale(1.05);
}

.search button img {
  width: 18px;
}

.weather {
  margin-top: 30px;
}

.weather-icon {
  width: 170px;
  margin-top: 20px;
}

.temp {
  font-size: 80px;
  font-weight: 500;
  margin-top: 10px;
}

.city {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  padding: 0 10px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-bottom: 4px;
}

.col p:last-child {
  font-size: 14px;
}